<p style="background: blue; color: white;">A Compliance Set's status was updated</p>
<table style="background: #ffff99; color: #000000;">
  <tr>
    <td>Vendor</td>
    <td><%= @vendor %></td>
  </tr>
  <tr>
    <td>Asin</td>
    <td><%= @sku %></td>
  </tr>
  <tr>
    <td>From Status</td>
    <td><%= @from_status %></td>
  </tr>
  <tr>
    <td>To Status</td>
    <td><%= @to_status %></td>
  </tr>
</table>
