<p style="background: blue; color: white;">Pending Purchase Orders</p>
<% @purchaseorders.each do |purchaseorder| %>
    <p style="background: #ffff99; color: #000000;">
        <%= purchaseorder %>
    </p>
<% end %>
