<table class="vendors">
  <tr>
    <td>
      Vendor
    </td>
    <td>
      Purchase Order
    </td>
    <td>
      Asin
    </td>
    <td>
      Date
    </td>
  </tr>


    <%= render :partial => "procurement", :collection => procurements %>
</table>