<table align="center">
<tr>
  <td>
    <img src="images/Torii.gif" alt="Torii.gif">
  </td>
  <td>
    <h3>Welcome to SRQ @ Amazon</h3>
  </td>
  <td>
    <img src="images/Torii.gif" alt="Torii.gif">
  </td>
</tr>
</table>


