<div id='container' >

    <%= form_tag(asin_status_path,:method => 'get' ) do %>
        <div class="box">
            <label>
                <span><%= label_tag :sku %></span>
                <%= text_field_tag :sku, params[:sku], :class => "box_textfield" %>
            </label>
        </div>
        <div class="box">
            <label>
            <%= submit_tag 'Research', :class => 'box_button ui-button ui-widget ui-state-default ui-corner-all' %>
            </label>
        </div>

    <% end %>

</div>


