<h2>Purchase Orders</h2>

<table class="purchaseorder_list">
  <tbody>
    <%= render @purchaseorders %>
  </tbody>
</table>

<h2>Compliance Sets submitted by Vendor for ASIN</h2>

<div class="compliance">
  <table class="compliance_sets">
    <%= render :partial => 'compliances/compliance_summary', :collection => @compliances, :as => :compliance   unless @compliances.empty? %>
  </table>
</div>