<br>
<br>
<div class="whiteBox" id="selector">
			legend [ <b><font color="#FF005D">Existing Vendor</font></b> | <b><font color= '#B4F263'>Missing Data</font></b> | <b><font color='#EDED8C'>Vendor created</font></b> ]
</div>

<div class="vendortable">
  <table class="vendors">
    <tbody>
        <%= render @vendors %>
    </tbody>
  </table>
</div>

<br>

<div class="box">
<label>
  Bad Rows <%= @bad_rows.inspect  %>
</label>
<label>
  Existing Vendor rows <%= @existing_vendor_rows.inspect  %>
</label>
</div>

