<div id='container' >

    <%= form_tag(vendor_home_path,:method => 'get' ) do %>
        <div class="box">
            <label>
                <span>Vendor Code</span>
                <%= text_field_tag :code, params[:code] %>
            </label>
        </div>
        <div class="box">
            <label>
            <%= submit_tag 'Research', :class => 'box_button ui-button ui-widget ui-state-default ui-corner-all' %>
            </label>
        </div>

    <% end %>

</div>
