<table class="compliance_docs">
<tbody>
    <tr>
        <th>
            Document URL
        </th>
        <td>
            <%=  link_to document.url,  document.url, :target => "_blank" %>
        </td>
    </tr>
</tbody>
</table>
