<table class="compliance_tests">
<tbody>
    <tr>
        <th>
            Lab Information
        </th>
        <td>
            <%= lab.info %>
        </td>
    </tr>

    <tr>
        <th>
            Testing Date
        </th>
        <td>
            <%= lab.testing_date %>
        </td>
    </tr>

    <tr>
        <th>
            Report Number
        </th>
        <td>
            <%= lab.report_number %>
        </td>
    </tr>

    <tr>
        <th>
            Standards
        </th>
        <td>
            <%= lab.standards %>
        </td>
    </tr>
</tbody>
</table>