<table>
  <tbody>

  <tr>
    <th>
      Paper Cardboard Weight
    </th>
    <td>
      <%= packaging_data.paper_cardboard_wt %>
    </td>
    <th>
      Plastic Weight
    </th>
    <td>
      <%= packaging_data.plastic_wt %>
    </td>
    <th>
      Other Weight
    </th>
    <td>
      <%= packaging_data.other_wt %>
    </td>
  </tr>

  </tbody>
</table>