<table>
  <tbody>

  <tr>
    <th>
      WEEE Category
    </th>
    <td>
      <%= weee_product_data.weee_category %>
    </td>
    <th>
      Net Product Weight (GR)
    </th>
    <td>
      <%= weee_product_data.net_product_wt %>
    </td>
  </tr>

  </tbody>
</table>
