<div class="compliance">
  <table class="compliance_sets">
    <%= render :partial => 'compliance_summary', :collection => @compliances, :as => :compliance   unless @compliances.empty? %>
  </table>
</div>

<div class="compliance">
  <%= link_to "New Compliance Set", new_compliance_path(:sku => @sku, :vendor_id => @vendor_id) %>
</div>
