<div class="compliance">
    <%= render :partial => 'compliance_summary_list', :locals => { :compliances => @compliances_vendor, :type => "Vendor Owned" } %>
</div>
<div class="compliance">
    <%= render :partial => 'compliance_summary_list', :locals => { :compliances => @compliances_pc, :type => "PC Owned" } %>
</div>


<%= link_to 'Create a New Compliance Set', :controller => "compliances", :action => "new", :sku => @sku, :vendor_id => @vendor_id %>
