<div id='container' >

    <%= form_tag(:controller => "purchaseorders", :action => "search" ,:method => 'get' ) do %>
        <div class="box">
            <label>
                <span><%= label_tag :purchaseorder_id %></span>
                <%= text_field_tag :purchaseorder_id, params[:purchaseorder_id], :class => "box_textfield" %>
            </label>
        </div>
        <div class="box">
            <label>
            <%= submit_tag 'Research', :class => 'box_button ui-button ui-widget ui-state-default ui-corner-all' %>
            </label>
        </div>

    <% end %>

</div>
